<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>获奖情况
    </title>
</head>
<body>

<table  th:each="jl:${jxlist}">
    <tr>
        <th>学号</th>
        <th>分数</th>
        <th>奖项说明</th>

    </tr>
    <tr>
        <td th:utext="${jl.sid}"></td>
        <td th:utext="${jl.jibie}"> </td>
        <td th:utext="${jl.jxm}"></td>
    </tr>

</table>

<a href="/skipstumain">返回</a>
</body>
</html>