<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>录入成绩</title>
</head>
<body>

<table>
    <tr>
        <th>学生名</th>
        <th>学生学号</th>
        <th>专业</th>
        <th>分数</th>
    </tr>

</table>
<form th:action="@{/alteronesc}">
    <ul th:each="sc:${schlist}">
        <li>
        <b th:utext="${sc.sname}"></b>
        <b th:utext="${sc.sid}"></b>
        <b th:utext="${sc.sspc}"></b>
        <b th:utext="${sc.mark}"></b>  <input type="radio" name="sid"  th:value="${sc.sid}"/>
        </li>

    </ul>

        <button type="submit">选择</button>

</form>
</body>
</html>