<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>已改成绩
    </title>
</head>
<body>

<table>
    <tr>
        <th>学生名</th>
        <th>学生学号</th>
        <th>专业</th>
        <th>分数</th>
    </tr>

</table>

    <ul th:each="sc:${schlist}">
        <li>
            <b th:utext="${sc.sname}"></b>
            <b th:utext="${sc.sid}"></b>
            <b th:utext="${sc.sspc}"></b>
            <b th:utext="${sc.mark}"></b>
        </li>

    </ul>
<a href="/skaltersc">继续</a>
<a href="/sktemain">返回主页</a>
</body>
</html>