<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生考试信息查询</title>
</head>
<style>
    body{
        background-color: #dcdcdc;
    }
    div{
        background-color: #d4dada;
    }

</style>
<body>

<div>
    <h1>考试信息表</h1>
    <br>

    <table>
        <tr>
       <!--     private String cname;
            private double sc;
            private String inspc;
            private String asd;
            private String ktime;
            private int mark;
            private double score;
            private double gpa;-->
            <th>课程名</th>
            <th>学分</th>
            <th>专业</th>
            <th>考试地点</th>
            <th>考试时间</th>
            <th>得分</th>
            <th>所得学分</th>
            <th>绩点</th>

        </tr>
        <tr th:each="prod : ${schlist}">
            <td th:text="${prod.cname}">cname</td>
            <td th:text="${prod.sc}">sc</td>
            <td th:text="${prod.inspc}">inspc</td>

            <td th:text="${prod.asd}">tads</td>
            <td th:text="${prod.ktime}">ttime</td>
            <td th:text="${prod.mark}">tname</td>
            <td th:text="${prod.score}">tname</td>
            <td th:text="${prod.gpa}">ttel</td>

        </tr>
    </table>
</div>
<a href="/skipstumain">回主页面</a>
</body>
</html>