<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
</head>
<body>

<form th:action="@{/tealtersc}">
    <ul th:each="sc:${schlist}">
      <li th:utext="${sc.cname}"> </li><input type="radio" name="cname"  th:value="${sc.cid}"/>
    </ul>
    <fieldset>
        <button type="submit">选择</button>
    </fieldset>
</form>


</body>
</html>