<!DOCTYPE html>
<html lang="zh_CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生基本信息</title>
</head>
<body>
<table>
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>专业</th>
        <th>电话</th>
        <th>身份证号</th>
        <th>出生日期</th>
        <th>出生地</th>
        <th>入学日期</th>
        <th>民族</th>
        <th>籍贯</th>
        <th>生源地</th>
        <th>毕业学校</th>
        <th>学生类别</th>
        <th>学制</th>
        <th>政治面貌</th>
        <th>身高</th>
        <th>体重</th>
    </tr>

    <tr th:each="su : ${suu}">
        <td th:text="${su.sid}"></td>
        <td th:text="${su.sname}"></td>
        <td th:text="${su.ssex}"></td>
        <td th:text="${su.sspc}"></td>
        <td th:text="${su.stel}"></td>
        <td th:text="${su.sfzid}"></td>
        <td th:text="${su.stbdate}"> </td>
        <td th:text="${su.bsads}"></td>
        <td th:text="${su.stldate}"> </td>
        <td th:text="${su.nation}"></td>
        <td th:text="${su.adds}"></td>
        <td th:text="${su.fsads}"></td>
        <td th:text="${su.byxx}"></td>
        <td th:text="${su.ptbks}"></td>
        <td th:text="${su.stxz}"></td>
        <td th:text="${su.zzmm}"></td>
        <td th:text="${su.stta}"></td>
        <td th:text="${su.stwe}"></td>
    </tr>

</table>

<a href="">返回</a>
</body>
</html>