<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课表</title>
</head>
<style>
    body{
        background-color: #dcdcdc;
    }
    div{
        background-color: #d4dada;
    }

</style>
<body>
<h1> list</h1>
<div>
<h1>课表</h1>

<table>
    <tr>
         <th>课程名</th>
         <th>学分</th>
         <th>专业</th>
         <th>教学地点</th>
         <th>教学时间</th>
         <th>教师名</th>
         <th>教师电话</th>

     </tr>
     <tr th:each="prod : ${schlist}">
         <td th:text="${prod.cname}">cname</td>
         <td th:text="${prod.sc}">sc</td>
         <td th:text="${prod.inspc}">inspc</td>

         <td th:text="${prod.tads}">tads</td>
         <td th:text="${prod.ttime}">ttime</td>
         <td th:text="${prod.tname}">tname</td>
         <td th:text="${prod.ttel}">ttel</td>

     </tr>
 </table>

 </div>
<a href="/skipstumain">回主页面</a>
 </body>
 </html>