<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教学表</title>
</head>
<body>

<table>
    <tr>
        <th>课程名</th>
        <th>教学地点</th>
        <th>教学时间</th>
    </tr>
    <tr th:each="prod : ${schlist}">
        <td th:text="${prod.cname}">cname</td>
        <td th:text="${prod.tads}">tads</td>
        <td th:text="${prod.ttime}">ttime</td>

    </tr>
</table>

</body>
</html>