<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>未审核列表</title>
</head>
<body>

<form th:action="@{/tijiaosid}">

    <table>
        <tr>
            <th>学号</th>
            <th>总评分</th>
            <th>体测状态</th>
            <th>申请级别</th>
            <th>审核结果</th>
        </tr>

    </table>
    <ol th:each="sc:${noshlist}">
        <li>
            <b th:utext="${sc.sid}"></b>
            <b th:utext="${sc.allsc}"></b>
            <b th:utext="${sc.tystatus}"></b>
            <b th:utext="${sc.jxjb}"></b>
            <b th:utext="${sc.jieguo}"></b>
            <input type="radio" name="sid"  th:value="${sc.sid}"/>
        </li>

    </ol>

    <button type="submit">选择</button>

</form>
<a href="/sktemain">返回</a>
</body>
</html>